@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Melhora a renderização da fonte e adiciona rolagem suave */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    /* Define o fundo e a cor de texto padrão para todo o site */
    @apply text-gray-800 bg-gray-50; 
  }
}
.alto-contraste {
  background-color: #000 !important;
  color: #fff !important;
}

.alto-contraste a {
  color: #ff0 !important;
}

.alto-contraste button {
  background-color: #000 !important;
  color: #ff0 !important;
  border: 1px solid #ff0 !important;
}